<!DOCTYPE html>
<html>

<head>
    <title>Blackjack</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


</head>

<body>
    <h1 id="titulo_pagina_inicio">{{ traducciones.titulo_pagina_inicio }}</h1>
    <ul>
        <li><a href="/play">{{ traducciones.boton_jugar }}</a></li>
        <li><a href="/settings">{{ traducciones.boton_ajustes }}</a></li>
        <li><a href="/stats">{{ traducciones.boton_estadisticas }}</a></li>
    </ul>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const savedColor = localStorage.getItem('backgroundColor');
            if (savedColor) {
                document.body.style.backgroundColor = savedColor;
            }
        });

    </script>
</body>

</html>